<mat-card>
  <mat-card-content (click)="editMedication(medication.id)">
    <div class="medication-info">
      <div class="medication-title">
        <div>{{ medication.name }}</div>
        <div>@if (medication.disabled) {
          <mat-icon>pause</mat-icon>
        }</div>
      </div>
      <div>
        @for (schedule of medication.schedules; track schedule) {
          <ul class="schedule-list">
            <li>{{ schedule.start_date | date: 'shortTime' }}</li>
          </ul>
        }
      </div>
    </div>
  </mat-card-content>
</mat-card>
