<div style="margin-left: auto; margin-right: auto">
  <p id="medicationListFeedback"></p>
</div>
@if ((selectDisplayIsMobile$ | async) === false) {
  <app-medication-table
    [medications]="selectMedications$ | async"
    (createMedicationRequest)="createMedication()"
    (deleteMedicationRequest)="deleteMedication($event)"
    (editMedicationRequest)="editMedication($event)"
  >
  </app-medication-table>
} @else {
  <app-medication-grid
    [medications]="selectMedications$ | async"
    (createMedicationRequest)="createMedication()"
    (deleteMedicationRequest)="deleteMedication($event)"
    (editMedicationRequest)="editMedication($event)"
  >
  </app-medication-grid>
}
