<div style="margin-left: auto; margin-right: auto">
  <p id="contactFeedback"></p>
</div>
<div class="main-container">
  <h1>Contact Form</h1>
  @if (contactForm) {
    <form [formGroup]="contactForm" (ngSubmit)="saveContact()">
      <div class="contact-line">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" [formControl]="email" />
          @if (email.hasError('required')) {
            <mat-error>
              Email is required
            </mat-error>
          }
          @if (email.hasError('pattern')) {
            <mat-error>
              Email not a valid format.
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="contact-line">
        <button mat-flat-button color="primary" type="submit">SAVE</button>
        <button mat-flat-button color="primary" type="button" (click)="cancelContact()">CANCEL</button>
      </div>
    </form>
  }
</div>
