<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div class="login-container">
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <div class="login-line">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email" />
        @if (email.hasError('required')) {
          <mat-error>Email is required</mat-error>
        } @else if (email.hasError('pattern')) {
          <mat-error>Email not a valid format.</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="login-line">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" />
        @if (password.hasError('required')) {
          <mat-error>Password is required</mat-error>
        } @else if (password.hasError('minlength')) {
          <mat-error>Password must be greater tha 8 characters</mat-error>
        } @else if (password.hasError('maxlength')) {
          <mat-error>Password can be max 16 characters long</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="login-line">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.valid"
      >
        Login
      </button>
    </div>
  </form>
</div>
