<div class="main-container">
  <h1>Today</h1>
  @if (schedules.length > 0 && isMobile === false) {
    <div>
      @for (schedule of schedules; track schedule) {
        <mat-card class="schedule-card">
          <mat-card-header>
            <mat-card-title>{{
              schedule.start_date | date: 'shortTime'
            }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{ schedule.medication.name }}
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="takeMedication(schedule.id)">
              Take
            </button>
            <button mat-button (click)="skipMedication(schedule.id)">
              Skip
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  }
</div>
@if (schedules.length > 0 && isMobile === true) {
  <div>
    @for (schedule of schedules; track schedule) {
      <mat-card class="schedule-card">
        <mat-card-header>
          <mat-card-title>{{
            schedule.start_date | date: 'shortTime'
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ schedule.medication.name }}
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="takeMedication(schedule.id)">Take</button>
          <button mat-button (click)="skipMedication(schedule.id)">Skip</button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
}
