<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<div class="main-container">
  <h1>Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="register-line">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="name" />
        @if (name.hasError('required')) {
          <mat-error>Name is required</mat-error>
        }
        @if (name.hasError('minlength')) {
          <mat-error>
            Name must be at least 5 characters long.
          </mat-error>
        }
        @if (name.hasError('maxlength')) {
          <mat-error>
            Name can be max 25 characters long.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Surname1</mat-label>
        <input matInput type="text" [formControl]="surname_1" />
        @if (surname_1.hasError('required')) {
          <mat-error>Surname1 is required</mat-error>
        }
        @if (surname_1.hasError('minlength')) {
          <mat-error>
            Surname1 must be at least 3 characters long.
          </mat-error>
        }
        @if (surname_1.hasError('maxlength')) {
          <mat-error>
            Surname1 can be max 25 characters long.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Surname2</mat-label>
        <input matInput type="text" [formControl]="surname_2" />
        @if (surname_2.hasError('minlength')) {
          <mat-error>
            Surname2 must be at least 3 characters long.
          </mat-error>
        }
        @if (surname_2.hasError('maxlength')) {
          <mat-error>
            Surname2 can be max 25 characters long.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Alias</mat-label>
        <input matInput type="text" [formControl]="alias" />
        @if (alias.hasError('required')) {
          <mat-error>Alias is required</mat-error>
        }
        @if (alias.hasError('minlength')) {
          <mat-error>
            Alias must be at least 3 characters long.
          </mat-error>
        }
        @if (alias.hasError('maxlength')) {
          <mat-error>
            Alias can be max 25 characters long.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Birth date</mat-label>
        <input matInput type="date" [formControl]="birth_date" />
        @if (birth_date.hasError('required')) {
          <mat-error>Birth date is required</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="register-line">
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email" />
        @if (email.hasError('required')) {
          <mat-error>Email is required</mat-error>
        }
        @if (email.hasError('pattern')) {
          <mat-error>Email not a valid format.</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" />
        @if (password.hasError('required')) {
          <mat-error>Password is required</mat-error>
        }
        @if (password.hasError('minlength')) {
          <mat-error>
            Password must be at least 8 characters long.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" [formControl]="confirmPassword" />
        @if (confirmPassword.hasError('required')) {
          <mat-error>Confirm Password is required</mat-error>
        }
        @if (confirmPassword.errors?.['PasswordNoMatch']) {
          <mat-error>
            Passwords must match.
          </mat-error>
        }
      </mat-form-field>
    </div>

    <mat-checkbox [formControl]="legal">
      I accept "Privacy Policy" and "Terms of Service".
      @if (legal.hasError('required')) {
        <span class="error"> Required</span>
      }
    </mat-checkbox>

    <div class="register-line">
      <button mat-flat-button color="primary" type="submit">Register</button>
    </div>
  </form>
</div>
