@use '@angular/material' as mat;
@use 'sass:color' as color;

.notification-card {
  @include mat.theme((color: (theme-type: light,
        primary: mat.$red-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    ));

  @include mat.card-overrides((elevated-container-color: light-dark(color.adjust(#90fc9e, $lightness: 12%), color.adjust(#90fc9e, $lightness: -65%)),
      outlined-outline-color: var(--mat-sys-tertiary-container),
      elevated-container-elevation: var(--mat-sys-level0),
      elevated-container-shape: var(--mat-sys-shape-rectangle)));
}

mat-card {
  border-radius: 0;
}

.title {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  h2 {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
}