<div class="main-container">
  <h1>Task List</h1>
  @if (tasks.length === 0) {
    <div>No Tasks</div>
  } @else if (tasks.length > 0) {
    <table mat-table [dataSource]="tasks" class="mat-elevation-z8">
      <!-- name Column -->
      <ng-container matColumnDef="task-key">
        <th mat-header-cell *matHeaderCellDef>Key</th>
        <td mat-cell *matCellDef="let task">{{ task.key }}</td>
      </ng-container>
      <!-- surname_1 Column -->
      <ng-container matColumnDef="task-next">
        <th mat-header-cell *matHeaderCellDef>Next</th>
        <td mat-cell *matCellDef="let task">{{ task.next }}</td>
      </ng-container>
      <!-- Actions Column -->
      <ng-container matColumnDef="task-actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let task">
          <button mat-icon-button (click)="deleteTask(task.key)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  }
</div>
