<div>
  <h2>Schedule List</h2>
  <div class="schedule-line">
    <button mat-flat-button color="primary" (click)="createSchedule()">
      ADD
    </button>
    @if (schedules.length > 0) {
      <div>
        @for (schedule of schedules; track schedule) {
          <app-schedule-card [schedule]="schedule" (deleteScheduleRequest)="deleteSchedule($event)"
          (editScheduleRequest)="editSchedule($event)"></app-schedule-card>
        }
      </div>
    }
    @if (schedules.length === 0) {
      <div>No Schedules</div>
    }
  </div>