<div style="margin-left: auto; margin-right: auto">
  <p id="userFormFeedback"></p>
</div>
<div class="main-container">
  <h1>User Form</h1>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="user-line">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="name" />
        <mat-error *ngIf="name.hasError('required')">Name is required</mat-error>
        <mat-error *ngIf="name.hasError('minlength')">
          Name must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="name.hasError('maxlength')">
          Name can be max 25 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname1</mat-label>
        <input matInput type="text" [formControl]="surname_1" />
        <mat-error *ngIf="surname_1.hasError('required')">
          Surname1 is required
        </mat-error>
        <mat-error *ngIf="surname_1.hasError('minlength')">
          Surname1 must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="surname_1.hasError('maxlength')">
          Surname1 can be max 25 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Surname2</mat-label>
        <input matInput type="text" [formControl]="surname_2" />
        <mat-error *ngIf="surname_2.hasError('minlength')">
          Surname2 must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="surname_2.hasError('maxlength')">
          Surname2 can be max 25 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Alias</mat-label>
        <input matInput type="text" [formControl]="alias" />
        <mat-error *ngIf="alias.hasError('required')">
          Alias is required
        </mat-error>
        <mat-error *ngIf="alias.hasError('minlength')">
          Alias must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="alias.hasError('maxlength')">
          Alias can be max 25 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input matInput type="date" [formControl]="birth_date" />
        <mat-error *ngIf="birth_date.hasError('required')">
          Birth date is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="user-line">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email" />
        <mat-error *ngIf="email.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="email.hasError('pattern')">
          Email not a valid format.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" />
        <mat-error *ngIf="password.hasError('required')">
          Password is required
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          Password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" [formControl]="confirmPassword" />
        <mat-error *ngIf="confirmPassword.hasError('required')">Confirm Password is required</mat-error>
        <mat-error *ngIf="confirmPassword.errors?.['PasswordNoMatch']">
          Passwords must match.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="user-line">
      <mat-form-field class="full-width">
        <mat-label>Choose a role</mat-label>
        <mat-select [formControl]="role">
          <mat-option>Clear</mat-option>
          <mat-option *ngFor="let option of roles" [value]="option.value">{{ option.label }}</mat-option>
        </mat-select>
        <mat-error *ngIf="role.hasError('required')">Role is required</mat-error>
      </mat-form-field>
    </div>

    <div class="user-line">
      <button mat-flat-button color="primary" type="submit">Save</button>
    </div>
  </form>
</div>