<div class="main-container">
  <h1>Medication Management</h1>
  <h2>Never Miss a Dose: Your Personal Medication Manager</h2>

  <p>Managing meds can be a hassle, but it doesn't have to be. Our easy-to-use app keeps you on track with smart
    reminders, dose tracking, and refill alerts—so you can focus on what really matters.</p>

  <h2>Why You'll Love It</h2>

  <ul>
    <li>Friendly Reminders: No more “Did I take that?” moments</li>
    <li>Simple Tracking: Keep tabs on what you've taken and what's next</li>
    <li>Refill Alerts: Get a heads-up before you run out</li>
    <li>Stress-Free Design: Just set it up and let us handle the rest</li>
  </ul>

  <blockquote>
    <p>"Taking your medication on time isn't just a habit — it's a promise to your health, a step toward recovery, and a
      simple act of self-care that makes all the difference."</p>
    <footer>MD Ernie Sutton</footer>
  </blockquote>

  <div class="testimonial-container">
    <mat-card class="testimonial-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Madison M.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>"Even though I'm only 31, I'm on a lot of medications, and this app makes my life so much simpler. No more
          searching desperately for lost prescriptions."</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="testimonial-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Lucinda L</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>"Considering everything happening in the medical world, this app has been phenomenal. The changes they've
          made have made it easier to use with clear instructions."</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="testimonial-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Harrison F.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>"I love this app. It's so easy to keep track of all your medications, even the non-prescription ones! No
          waiting at the pharmacy, and the reminders are super helpful."</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="testimonial-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Derwent C.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>"Having a lot of medications can get very confusing. This app has taken the confusion away and given me peace
          of mind."</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
