<mat-card class="post-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="post-header-image"></div>
    <mat-card-title>{{ postCardDTO.title }}</mat-card-title>
    <mat-card-subtitle
      >{{ postCardDTO.userAlias }} |
      {{ postCardDTO.publication_date | formatDate: 3 }}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/shiba2.jpg" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <div class="badge-list">
      <span
        *ngFor="let category of postCardDTO.categories"
        class="badge"
        [ngStyle]="{ 'background-color': category.css_color }"
      >
        {{ category.title }}
      </span>
    </div>
    <div class="description">
      {{ postCardDTO.description }}
    </div>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <a mat-flat-button href="#">READ MORE</a>
    <span class="spacer"></span>
    <button
      mat-icon-button
      color="primary"
      (click)="postLikeClick()"
      [disabled]="!showButtons"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
    {{ postCardDTO.num_likes }}
    <button
      mat-icon-button
      color="primary"
      (click)="postDislikeClick()"
      [disabled]="!showButtons"
    >
      <mat-icon>thumb_down</mat-icon>
    </button>
    {{ postCardDTO.num_dislikes }}
  </mat-card-actions>
</mat-card>
