#userListFeedback {
  opacity: 0;
  display: none;
  text-align: center;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#userListFeedback.fade-in {
  display: block;
  animation: fade-in 0.7s ease-in forwards;
}

#userListFeedback.fade-out {
  animation: fade-out 0.7s ease-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.error {
  color: var(--mat-sys-error);
}

.contact-line {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;

  @media screen and (min-width: 740px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1240px) {
    grid-template-columns: repeat(3, 1fr);
  }
}


.title {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  h1 {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
}
