@use 'sass:color' as color;

h1 {
  margin-bottom: 16px;
}

h2 {
  margin: 16px 0 8px 0;
}

p {
  margin: 16px 0;
}

ul {
  list-style-type: circle;
}

li {
  display: list-item;
  padding-left: 1rem;
  list-style-position: inside;
}

.privacy {
  margin-bottom: 32px;
}

a {
  color: light-dark(color.adjust(#d2e1dd, $lightness: -50%), color.adjust(#d2e1dd, $lightness: -20%));
  text-decoration: underline;
  text-underline-offset: 4px;

  &:hover {
    color: light-dark(color.adjust(#d2e1dd, $lightness: -30%), color.adjust(#d2e1dd, $lightness: -40%));
  }
}