<div class="main-container privacy">
  <h1>Privacy Policy</h1>
  <p>Privacy Policy Effective Date: May 5, 2025.</p>

  <p>Welcome to Medication Management App, your trusted companion in medication management. Your privacy is important to
    us, and we are committed to protecting your personal data. This Privacy Policy explains how we collect, use, and
    safeguard your information when you use our application.</p>

  <h2>Information We Collect</h2>
  <p>We may collect the following types of information:</p>
  <ul>
    <li>Personal Information: Name, email address, and contact details when you create an account.</li>
    <li>Health-Related Information: Medication schedules, dosage details, and reminders you set within the app.</li>
    <li>Device and Usage Data: Technical information such as device type, operating system, and app usage patterns.
    </li>
  </ul>

  <h2>How We Use Your Information</h2>
  <p>Your data is used to:</p>
  <ul>
    <li>Provide and improve our medication reminder services.</li>
    <li>Customize your experience and send notifications.</li>
    <li>Ensure security and compliance with regulations.</li>
  </ul>

  <h2>Data Sharing and Security</h2>
  <p>We do not sell your personal data. Your information is shared only:</p>
  <ul>
    <li>With trusted service providers who assist in app functionality.</li>
    <li>If required by law or to protect users' rights and safety.</li>
    <li>We implement strict security measures to safeguard your data from unauthorized access.</li>
  </ul>

  <h2>Your Rights and Choices</h2>
  <p>You have the right to:</p>
  <ul>
    <li>Access, update, or delete your personal information.</li>
    <li>Control notification settings and data sharing preferences.</li>
  </ul>

  <h2>Contact Us</h2>
  <p>If you have any questions regarding this Privacy Policy, please contact us at <a href="mailto:rbuj@uoc.edu">contact
      email</a>.</p>
</div>