h1 {
  margin-bottom: 16px;
}

h2 {
  margin: 16px 0 8px 0;
}

h2,
p,
li {
  line-height: 2;
}

ul {
  list-style-type: circle;
}

li {
  display: list-item;
  padding-left: 1rem;
  list-style-position: inside;
}

.privacy {
  margin-bottom: 32px;
}
