<div style="margin-left: auto; margin-right: auto">
  <p id="scheduleFeedback"></p>
</div>
<mat-card class="main-container-card">
  <mat-card-header>
    <h1>Schedule Form</h1>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="scheduleForm" [formGroup]="scheduleForm" (ngSubmit)="saveSchedule()">
      <div class="schedule-line">
        <mat-form-field>
          <mat-label>Pick a time</mat-label>
          <input matInput [formControl]="start_date" [matTimepicker]="picker">
          <mat-timepicker-toggle matIconSuffix [for]="picker" interval="30m" />
          <mat-timepicker #picker />
        </mat-form-field>
      </div>

      <div class="schedule-line">
        <button mat-flat-button color="primary" type="submit">SAVE</button>
        <button mat-flat-button color="primary" type="button" (click)="cancelSchedule()">CANCEL</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
