<mat-card>
  <mat-card-content>
    <div class="details">
      @if (user.surname_2) {
        <span>
          {{ user.surname_1 }} {{ user.surname_2 }}, {{ user.name }}
        </span>
      } @else if (!user.surname_2) {
        <span> {{ user.surname_1 }}, {{ user.name }} </span>
      }
      <div>
        {{ user.email }}
      </div>
      <mat-chip-set aria-label="Fish selection">
        <mat-chip>{{ user.role }}</mat-chip>
      </mat-chip-set>
    </div>
    <div class="actions">
      <button mat-icon-button (click)="editUser()">
        <mat-icon color="warn">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser()">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
