<div class="main-container">
  <h1>Medications</h1>
  <div class="medication-line">
    <button
      mat-flat-button
      color="primary"
      (click)="createMedication()"
      class="add-button"
    >
      ADD
    </button>
  </div>
  @if (medications && medications.length > 0) {
    <div>
      @for (medication of medications; track medication.id) {
        <app-medication-card
          [medication]="medication"
          (createMedicationRequest)="createMedication()"
          (deleteMedicationRequest)="deleteMedication($event)"
          (editMedicationRequest)="editMedication($event)"
        ></app-medication-card>
      }
    </div>
  } @else {
    <div>No Medications</div>
  }
</div>
