<div class="main-container">
  <h1>Medications</h1>
  <div class="medication-line">
    <button mat-flat-button color="primary" (click)="createMedication()" class="add-button">
      ADD
    </button>
  </div>
  <div *ngIf="medications.length === 0">No Medications</div>
</div>
<div *ngIf="medications.length > 0">
  <app-medication-card [medication]="medication" (createMedicationRequest)="createMedication()"
    (deleteMedicationRequest)="deleteMedication($event)" (editMedicationRequest)="editMedication($event)"
    *ngFor="let medication of medications"></app-medication-card>
</div>
