h2 {
  margin: 32px 0 16px 0;
  vertical-align: baseline;
}

.schedule-line {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;

  @media screen and (min-width: 740px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1240px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.title {
  margin: 16px 0;
  padding: 0;
  vertical-align: baseline;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}